<div class="aside-bar">
    <ul>
        <li>
            <img src="/1.png" alt="Inicio">
            <span>Inicio</span>
        </li>
        <li>
            <img src="/3.png" alt="Menú">
            <span>Menú</span>
        </li>
        <li>
            <img src="/4.png" alt="Pagos">
            <span>Pagos</span>
        </li>
        <li>
            <img src="/5.png" alt="Reportes">
            <span>Reportes</span>
        </li>
    </ul>
</div>
<div class="config">
    <span>Configuración</span>
</div>

