<footer class="footer-container">
  <div class="footer-main">
    <div class="footer-brand">
      <h2>GoEats</h2>
      <div class="store-links">
        <img src="/16.png" alt="Google Play" />
        <img src="/17.png" alt="App Store" />
      </div>
    </div>

    <div class="footer-links">
      <ul>
        <li><a href="#">Obtén ayuda</a></li>
        <li><a href="#">Compra tarjetas de regalo</a></li>
        <li><a href="#">Agrega tu restaurante</a></li>
        <li><a href="#">Regístrate para realizar entregas</a></li>
        <li><a href="#">Crear una cuenta de negocios</a></li>
        <li><a href="#">Promociones</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-social">
    <a href="#"><img src="/18.png" alt="Facebook" /></a>
    <a href="#"><img src="/19.png" alt="Instagram" /></a>
    <a href="#"><img src="/20.png" alt="X" /></a>
  </div>

  <div class="footer-bottom">
    <p>
      <a href="#">Política de privacidad</a> | <a href="#">Términos</a> |
      <a href="#">Tarifas</a><br />
      Se aplican la Política de privacidad y los Términos del servicio. © 2025
      Go Eats Technologies Inc.
    </p>
  </div>
</footer>
